@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, html {
    background-color: #70715D;
    padding: 0;
    margin: 0;
    border: 0;
}

main {
    padding: 5% 10%;
}

#main-box {
    background-color: #D9D4CC;
    width: 100%;
    height: 100%;
    margin: right;
    border-radius: 10px 5px 5px 10px;
    filter: drop-shadow(-50px 74px 80px rgba(35, 35, 28, 0.8));
}

#left-side {
    background-color: #494B42;
    border-radius: 5px;
}

#top-vector-left {
    padding: 5% 0 0 5%;
}

#top-vector-left > #line {
    margin: 0 4px;
    padding: 0;
    width: 4em;
    border-radius: 1em;
    border: 8px solid #6D6E5A;
    transform: rotate(-180deg);
}

#dot {
    padding: 0;
    margin: 0 4px;
    width: 1em;
    height: 1em;
    background-color: #6D6E5A;
    border-radius: 100%;
}

#top-vector-right {
    text-align: right;
    margin: -5% -5% 3% 0;
}

#top-vector-right > span {
    font-size: 40px;
}

#line {
    width: 80%;
    margin: auto;
    border: 2px solid #404139;
    border-radius: 1em;
}

#profile {
    padding: 10% 5%;
}

#profile > img {
    user-select: none;
    width: 100%;
    padding: 0px 25%;
    border-radius: 100%;
    margin: auto;
}

#name-box {
    padding: 5% 0 0 0;
    text-align: center;
    line-height: 100.02%;
    font-style: normal;
    font-weight: 600;
    font-family: 'Inter';
    letter-spacing: -0.054em;
}

#name-box > #name{
    padding: 0;
    margin: 2px 0;
    font-size: 20px;
    color: #EEEFEA;
}

#name-box > #area {
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: #898881;
}

#skills {
    padding: 5% 20% 0 20%;
    color: white;
    font-family: 'Inter';
    font-style: normal;
}

#title {
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100.02%;
    letter-spacing: -0.054em;
    text-indent: 10px;
}

#title > #name {
    padding: 0;
    margin: 4px 0;
    font-size: 1.1vw;
    color: #EEEFEA;
}

#title > #items {
    padding: 0;
    margin: 0;
    font-size: .9vw;
    color: #898881;
}

#title > #item {
    padding: 0;
    margin: 6px 0;
    font-size: .9vw;
    color: #898881;
    white-space: nowrap;
}

#right-side {
    padding: 5%;
}


/* * --- Hello (Top) --- */
#hello {
    margin: 0;
    width: auto;
    height: auto;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 3em;
    line-height: 100.02%;
    letter-spacing: 0.006em;
    text-align: left;

    color: #3F3D37;
}

#hand {
    transition: ease-out 0.2s;
    transform-origin: bottom left;
    cursor: default;
    color: #6D6E5B;
    font-size: 3em;
    padding: 0;
    width: auto;
    user-select: none;
}
/* * -------------- */



/* * --- Separator (Brazil) --- */
#brazil {
    width: 65px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.006em;
    color: #3F3D37;
}

#brazil-flag {
    width: 35px;
    user-select: none;
}

#line-brazil {
    padding: 0;
    height: 0;
    margin: 10px 0;
    border: 3px solid #6D6962;
    border-radius: 1em;
    transform: rotate(-180deg);
}
/* * -------------- */



/* * --- Bio --- */
#bio {
    padding: 0 50% 0 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 175.02%;
    letter-spacing: -0.044em;
    color: #858079;
}
/* * -------------- */



/* * --- Portfolio --- */
#portfolio {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100.02%;
    letter-spacing: 0.006em;
    color: #74807A;
}

#portfolio-item {
    transition: ease-in-out .2s;
    position: relative;
    padding: 0;
    width: 301px;
    height: 137px;
    background-color: #F4F4F4;
    box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#portfolio-item:hover {
    cursor: pointer;
    background-color: #494B42;
    transform: scale(.95);
}

#portfolio-item:hover > #portfolio-bottom {
    background-color: #F4F4F4;
}

#portfolio-item:hover #portfolio-title {
    color: #F4F4F4;
}

#portfolio-bottom {
    position: absolute;
    width: 301px;
    height: 6px;
    top: 96%;
    border-radius: 5px 5px 0px 0px;
    transform: rotate(-180deg);
}

.bottom1 {
    background-color: #3572A5;
}

.bottom2 {
    background-color: #15BE8B;
}
#portfolio-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100.02%;
    letter-spacing: 0.006em;
    padding: 0 30% 0 0;
    color: #363D43;
}

#portfolio-subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 100.02%;
    display: flex;
    align-items: center;
    letter-spacing: 0.006em;
    padding: 0 20% 0 0;
    color: #93989D;
}

#portfolio-img {
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
}

#portfolio-svg {
    position: absolute;
    bottom: 0;
    right: 0;
    user-select: none;
}
/* * -------------- */



/* * --- Share --- */
#share-text {
    padding: 0;
    font-size: 1.1vw;
    color: #EEEFEA;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.054em;
    text-indent: 10px;
}

#share-btn {
    cursor: pointer;
    height: auto;
    width: 100%;
}
/* * -------------- */



/* * --- Social --- */
#social {
    width: 10vw;
    margin: auto;
}

#social-svg {
    width: 24px;
    height: 24px;
}
/* * -------------- */



/* * --- Asssets --- */
#icons {
    width: auto;
    height: 24px;
    padding: 0;
    user-select: none;
}

#svg {
    width: 20px;
    height: 20px;
}
/* * -------------- */



/* * --- Bootstrap --- */
.popover {
    font-family: 'Inter';
    font-weight: 600;
    background-color: dark;
    border: 1px solid var(--border-color);
}
/* * -------------- */